.red {
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.green {
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}