
/* ---------------------------- bosh animatsiya circle------------------------------------ */

ul{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;  
    transform: scale(3.5,3.5);
}

li{
    position: absolute;
    left: 50%;
    top: 0%;
    display: block;
    background: transparent;
    border: 10px solid rgba(23,246,251, 1.0);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 500px;
    transition: all 0.5s ease;
}

li:first-child{
    margin-left: -120px;
    margin-top: -120px;
    z-index: 2;
    width: 225px;
    height: 225px;
    border-width: 3px;
    animation: spinBG 5s infinite linear;
}

li:nth-child(2){
    margin-left: -130px;
    margin-top: -130px;
    z-index: 1;
    width: 250px;
    height: 250px;
    border-width: 2px;
    border-style: dotted;
    box-shadow: 0px 0px 20px rgba(23,246,251, .5);
    animation: spinBG2 2s infinite linear;
}

li:nth-child(3){
    margin-left: -148px;
    margin-top: -150px;
    z-index: 1;
    width: 290px;
    height: 290px;
    border-width: 2px;
    box-shadow: inset 0px 0px 25px rgba(23,246,251, .25);
    animation: spinBG 12s infinite linear;
}

li:nth-child(4){
    margin-left: -170px;
    margin-top: -170px;
    z-index: 1;
    width: 337px;
    height: 337px;
    border-width: 5px;
    border-style: solid;
    box-shadow: inset 0px 0px 25px rgba(23,246,251,1.0);
    animation: spinBG3 8s infinite linear;
}


/*------------------------------------------- aylanma Animatsiya -------------------------------------------*/
@keyframes spinBG{
    0%  {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}	
}

@keyframes spinBG2{
    0%{
        transform: rotate(360deg);
        box-shadow: 0px 0px 1px rgba(23,246,251, 0.5);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0px 0px 20px rgba(23,246,251, 0.5);
    }
    100%{
        transform: rotate(0deg);
        box-shadow: 0px 0px 1px rgba(23,246,251, 0.5);
    }	
}

@keyframes spinBG3{
    0%{
        transform: rotate(180deg);
        box-shadow: 0px 0px 1px rgba(23,246,251, 0.1);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }	
}

/*----------------------------- button sinab ko'rish -----------------------------------*/
.button {
    width: 150px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(23, 246, 251) 0%, rgb(15, 186, 189) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 50px;
}


.button::before {
    content: '';
    border-radius: 1000px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px solid rgb(23, 246, 251);
    box-shadow: 0 0 60px rgb(23, 246, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(23, 246, 251);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
    animation: none;
    display: none;
}

/* // ---------------------------sinab ko'rish animatsiya---------------------------------- */
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}



/* ------------------------------------------ media -------------------------------- */

@media (min-width:1441px) and (max-width:1920px) {
  
    ul{
      transform: scale(2.5,2.5);
    }
  .firstlook_title{
    transform: scale(0.8,0.8);
  }
  .button{
    transform: scale(1.5,1.5);   
}
}


@media (min-width:1025px) and (max-width:1440px) {
    ul{
      transform: scale(1.8,1.8);
  }
  .firstlook_title{
    transform: scale(0.7,0.7);
  }
  .onTheGo{
    transform: scale(1,1);
}
}



@media (min-width:769px) and (max-width:1024px) {
  .animate{
    top:90px;
  } 
  ul{
      transform: scale(1.5,1.5);

  }
  .firstlook_title{
    transform: scale(0.8,0.8);
  
  }
  .onTheGo{
    /* background-color: pink; */
    transform: scale(0.9,0.9);
    height: 620px;
  }
.onTheGo h1{
    font-size: 80px;
    padding-bottom: 80px;
}
.info{
  height: 500px;
}
.info-title{
    width: 100%;

}
.chatExample{
    transform: scale(0.8,0.);
}
.chatExample p{
    font-size: 25px;
}
.footer{
    width: 100%;
}
.footer h3{
    font-size: 20px;
}
.social{
    padding: 20px;
    /* background-color: #313; */
}
.social a{
    padding: 20px;
}
}

/*------------------------------- mobile -----------------------------*/
@media (min-width:375px) and (max-width:768px) {
    ul{
        transform: scale(1,1);
        text-align: center;
       
    }
    .animate{
        top:-100px;
        /* background-color: #4FD1C5; */
    }
    .firstlook_title{
        transform: scale(1,1);
        /* background-color: #313133;
        opacity: 0.5; */
      }
      .firstlook_title h1{
        padding-left: 0px;
      }
    .button{
      transform: scale(0.7,0.7);
      top: 20px;
      right: -8px;

    }
   .onTheGo{
        transform: scale(0.9,0.9);
        margin: 0 0;
        top: -150px;
        height: 800px;
        /* background-color: #313133; */
    } 
    .onTheGo h1{
        font-size: 90px;
        padding-bottom: 80px;

    }
    .info{
      height: 500px;
      display: flex;
      flex-direction: column;
      /* background-color: aqua; */
    }
    .info-title{
        width: 100%;

    }
    .chatExample{
        transform: scale(0.5,0.5);
    }
    .chatExample p{
        font-size: 25px;
    }
    .footer{
        width: 100%;
    }
    .footer h3{
        /* background-color: #313133; */
        font-size: 20px;
    }
    .social{
        display: flex;
        flex-direction: column;
        margin: 0 0;
        /* background-color: #313; */
    }

}
