@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&display=swap');

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ee9ca7;
  font-size: 65px;
  padding: 0 200px;
}

header h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  background: linear-gradient(307.72deg, #8d8d8d 2.04%, whitesmoke 98.59%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header h1 span {
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header ul li {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #d9d9d9;
  cursor: pointer;
}